.heading {
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #dee6de;
  margin: 50px 200px;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 2% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
  padding: 12px;
  background-color: white;
}

.circle-img {
  border-radius: 30%;
  border: 3px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 90px;
}

.info {
  margin: 2px 0;
  /* margin: 0 10px 10px 0; */
  color: #1a7e76;
}

.download-button {
  width: 15%;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 9px;
}
.download-button :hover {
  background-color: black;
}
