.container {
  display: flex;
}

.column-1 {
  flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
  flex-basis: 70%; /* sets initial width to 70% */
}

.box {
  background-color: rgb(245, 215, 160);
  padding: 10px;
  border-radius: 12px;
  border: 2px solid rgb(116, 113, 113);
  margin: 1rem;
  box-shadow: 1px 1px 1px #000;
}

@media only screen and (max-width: 900px) {
  .container {
    /* it place the items in vertical direction */
    flex-direction: column;
    margin: 1rem;
  }

  .box {
    margin: 0 0 1rem;
  }
}
