body {
  background-color: #cee5d0;
  font-family: sans-serif;
}

h2 {
  text-align: center;
  margin: 40px auto;
  padding: 20px auto;
}

.faqs {
  background-color: #94b49f;
  margin: 5px 12px;
  padding: 8px 12px;
  border-radius: 7px;
}

.answerText {
  font-weight: bold;
  display: inline;
}

.faq-question {
  padding: 3px 5px;
}

.faq-answer {
  padding: 3px 5px;
  font-weight: 300;
  font-size: medium;
}
