.container{
  /* move this container at last of the window scroll */
  /* position: relative; */
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 100%;
  background-color: #f5f5f5; */
  z-index: 1000;
}

footer {
    /*margin-top: 1rem;
    background-color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    box-sizing: border-box;
    height: 100px;
    justify-content: center;*/
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
  }
  
  .col_2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .terms {
    font-family: sans-serif;
    padding: 15px;
  }
  
  .logo_1,
  .logo_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 3px;
    padding-left: 8px;
    height: 70px;
  }
  .logo_2 {
    margin-left: 5px;
  }
  .logo_img {
    width: 50px;
    padding: 5px;
    margin: 5px;
  }
  .copyright {
    width: 100%;
    margin-left: 15px;
    padding: 8px;
    text-align: center;
  }
  
  .logo-text {
    margin-right: 8px;
  }
  table {
    width: 100%;
  }
  tr {
    width: 100%;
  }
  td {
    text-align: left;
    padding: 6px;
    margin: 10px;
  }
  @media (min-width: 800px) {
    footer {
      flex-direction: row;
    }
    .footer-content {
      width: 50%;
      align-items: flex-start;
    }
    .col_2 {
      width: 50%;
      justify-content: flex-end;
    }
  }