/*primary:- #94B49F */
/* secondary color:CEE5D0 */
/* tertiary color:FCF8E8 */
/* ternary color:ECB390 */

.bannerTop {
  height: auto;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  /* background-color: #cee5d0; */
  position: relative;
  text-align: center;
  /* display: flex; */
  /* flex-direction: row; */
}

.boxes {
  width: 70%;
  /* background-color: aquamarine; */
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col1 {
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 220px;
  max-width: 13rem;
  margin: 30px 0;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: rgb(141, 139, 139);
  color: #d6ddd7;
  word-wrap: break-word;
  transition: all 100ms ease-in-out;
  border-bottom: 4px solid rgb(22, 13, 13);
  /* border-right: 3px solid white; */
}

/* .col1 h3 {
    display: flex;
    flex-direction: column;
    color: orange;
  } */
.one {
  display: flex;
  flex-direction: row;
}
.topView {
  box-sizing: border-box;
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .boxes {
    flex-direction: column;
  }
}
